@import '../../styles/variables';

:host {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    :host {
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    :host {
        width: 70%;
    }
}

@media only screen and (min-width: 1600px) {
    :host {
        width: 60%;
    }
}

h1 { 
    justify-self: center;
}

.item:nth-child(odd) { 
    background-color: $dark;
    color: $white;
}