$bgColor: rgb(243, 243, 243);
$primary-red: rgb(180, 0, 0);
$primary-yellow: rgb(255, 180, 50);
$primary-green: rgb(0, 128, 10);

$black: rgb(0, 0, 0);
$dark: rgb(51, 51, 51);
$gray: rgb(170, 170, 170);
$white: rgb(255, 255, 255);