@import '../../styles/variables';

:host{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
input {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid $dark;
    font-size: 24px;
    outline: none;
    padding-bottom: 10px;
    margin-bottom: 25px;
    min-width: 50px;
    max-width: 600px;
    margin-right: 10px;
}

@media only screen and (min-width: 1200px) {
    input {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1600px) {
    input {
        font-size: 40px;
    }
}

button {
    height: 50px;
    align-self: flex-start;
    outline: none;
    border: none;
    background-color: $dark;
    border-radius: 10px;
    color: $white;
    font-size: 21px;
    flex-basis: 150px;
}